.card-case-study {
  max-width: 30rem;
}

.card-case-study__image {
  border-radius: 1rem;
}

.card-case-study__title {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.card-case-study__link {
  margin-top: 5rem;
}
