/* _tokens.scss defines: design tokens for whole site (e.g. font/font-family/spacing/color)
which represent core design decisions that represent our brand*/

// Brand primary
$color-brand-primary-100: #f1f2f1;
$color-brand-primary-200: #d4ddd6;
$color-brand-primary-300: #8eaf7f;
$color-brand-primary-400: #5a7c4a;
$color-brand-primary-500: #3f4a37;
$color-brand-primary-600: #4e5a46;
$color-brand-primary-700: #1e2a15;

// Brand secondary
$color-brand-secondary-100: #f8f5f1;
$color-brand-secondary-200: #f0e6d8;
$color-brand-secondary-300: #f8e8da;
$color-brand-secondary-400: #d4ddd6;
$color-brand-secondary-500: #f59342;
$color-brand-secondary-600: #cd9b73;
$color-brand-secondary-700: #28a197;

$color-grey-100: #ffffff;
$color-grey-200: #eeeeee;
$color-grey-300: #d7d7d7;
$color-grey-400: #c3c3c3;
$color-grey-500: #b3b3b3;
$color-grey-600: #666666;
$color-grey-700: #1a1a1a;
$color-grey-800: #000000;
$color-grey-900: #000000;

$color-blue: #1d70b8;
// $color-bright-purple: #912b88;
// $color-brown: #b58840;
// $color-dark-blue: #003078;
$color-dark-olive-green: #48553f;
$color-emerald-green: #118c7b;
// $color-green: #00703c;
// $color-light-blue: #5694ca;
// $color-light-green: #85994b;
// $color-light-pink: #f499be;
// $color-light-purple: #6f72af;
// $color-orange: #f47738;
// $color-pink: #d53880;
// $color-purple: #4c2c92;
// $color-red: #d4351c;
// $color-turquoise: #28a197;
// $color-yellow: #ffdd00;

// Misc colours
$color-darker-olive-green: #223119;

// Spacing
$spacing-0: 0rem;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 1.5rem;
$spacing-5: 2rem;
$spacing-6: 2.5rem;
$spacing-7: 3rem;
$spacing-8: 3.5rem;
$spacing-9: 4rem;
$spacing-10: 5rem;
$spacing-11: 6.5rem;
$spacing-12: 9.2rem;
