@use "tokens" as *;

$font-sizes-responsive-map: (
  "heading-xl": (
    "mobile": $font-size-6,
    "tablet": $font-size-6,
    "desktop": $font-size-8,
  ),
  "heading-l": (
    "mobile": $font-size-4,
    "tablet": $font-size-4,
    "desktop": $font-size-7,
  ),
  "heading-m": (
    "mobile": $font-size-3,
    "tablet": $font-size-3,
    "desktop": $font-size-5,
  ),
  "heading-s": (
    "mobile": $font-size-2,
    "tablet": $font-size-2,
    "desktop": $font-size-3,
  ),
  "body": (
    "mobile": $font-size-1,
    "tablet": $font-size-1,
    "desktop": $font-size-2,
  ),
);

$spacing-responsive-map: (
  "spacing-2xs": (
    "mobile": $spacing-2,
    "tablet": $spacing-2,
    "desktop": $spacing-2,
  ),
  "spacing-xs": (
    "mobile": $spacing-3,
    "tablet": $spacing-3,
    "desktop": $spacing-3,
  ),
  "spacing-sm": (
    "mobile": $spacing-4,
    "tablet": $spacing-4,
    "desktop": $spacing-4,
  ),
  "spacing-md": (
    "mobile": $spacing-5,
    "tablet": $spacing-5,
    "desktop": $spacing-5,
  ),
  "spacing-lg": (
    "mobile": $spacing-7,
    "tablet": $spacing-7,
    "desktop": $spacing-7,
  ),
  "spacing-xl": (
    "mobile": $spacing-9,
    "tablet": $spacing-9,
    "desktop": $spacing-9,
  ),
  "spacing-2xl": (
    "mobile": $spacing-11,
    "tablet": $spacing-11,
    "desktop": $spacing-11,
  ),
);

// Brand colors
$color-brand-primary-default: $color-primary-500;
$color-brand-secondary-default: $color-secondary-500;

// Button colors
$color-button-primary-active: $color-secondary-600;
$color-button-primary-default: $color-brand-secondary-default;
$color-button-primary-hover: $color-secondary-700;
$color-button-primary-focus: $color-secondary-700;
$color-button-primary-selected: $color-secondary-600;

// Surface colors
$color-surface-default: $color-grey-100;
$color-surface-inverse: $color-grey-700;
$color-surface-subtle: $color-grey-200;
$color-surface-subtle-alt: $color-grey-300;

// Text colors
$color-text-default: $color-grey-900;
$color-text-inverse: $color-grey-100;
$color-text-accent: $color-primary-500;

// Corner radius
$corner-radius-default: $spacing-3;
$corner-radius-large: $spacing-12;

// Spacing
$spacing-2xl: $spacing-11;
$spacing-md: $spacing-5;
$spacing-xs: $spacing-3;
