@use "breakpoints";
@use "defaults";
@use "mixins";
@use "tokens";
@use "variables";

// Exposing sass variables to css for use with storybook
:root {
  --color-brand-primary-default: #{variables.$color-brand-primary-default};
  --color-brand-secondary-default: #{variables.$color-brand-secondary-default};

  --color-surface-default: #{variables.$color-surface-default};
  --color-surface-inverse: #{variables.$color-surface-inverse};
  --color-surface-subtle: #{variables.$color-surface-subtle};
  --color-surface-subtle-alt: #{variables.$color-surface-subtle-alt};

  --color-text-default: #{variables.$color-text-default};
  --color-text-inverse: #{variables.$color-text-inverse};
  --color-text-accent: #{variables.$color-text-accent};

  --corner-radius-default: #{variables.$corner-radius-default};
}
