@use "../../../styles/global/tokens" as *;

@import "../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../../styles/bootstrap-5.3.8/scss/variables";

.image-and-text-bg {
  background: $color-brand-primary-200;
  overflow: hidden;
  padding-bottom: 2rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    background-image: url("/images/two-professionals-discussing-statistics.png");
    background-repeat: no-repeat;
    background-position: left center; // align image left edge to left of pseudo-element
    background-size: contain;
    z-index: 0;
  }

  @include media-breakpoint-down(md) {
    &::before {
      height: 20rem;
      width: 100%;
    }
  }
}

// Adjust padding to show background image above title
.title-padding {
  @include media-breakpoint-down(md) {
    padding-top: 20rem !important;
  }
}
