@use "../../../styles/global/tokens" as *;

@import "../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../../styles/bootstrap-5.3.8/scss/variables";

.image-and-text-bg {
  background: $color-brand-primary-200;
  overflow: hidden;
  position: relative;
  height: 100%;

  &::before {
    aspect-ratio: 1.55;
    background-image: url("/images/two-professionals-discussing-statistics.png");
    background-size: cover;
    content: "";
    left: 50%;
    overflow: visible;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    width: 500px;
    z-index: 0;
  }

  @include media-breakpoint-up(md) {
    &::before {
      top: 50%;
      width: 70%;
      left: -25%;
      transform: translateY(-60%);
    }
  }

  @include media-breakpoint-up(lg) {
    &::before {
      transform: translateY(-50%);
      max-width: 1000px;
    }
  }
}

// Adjust padding to show background image above title
.title-padding {
  @include media-breakpoint-down(md) {
    padding-top: 19rem !important;
  }
}
