@use "../../styles/global/tokens" as *;

$list-group-border-bottom: 2px solid $color-brand-primary-500 !important;

.list-group {
  &:hover {
    border-bottom: $list-group-border-bottom;
  }
  &:active {
    border-bottom: $list-group-border-bottom;
    font-weight: bold;
  }
}
