@use "../../styles/global/tokens" as *;

$list-group-border-bottom: 1px solid $color-brand-primary-500 !important;

.list-group {
  &:hover {
    border-bottom: $list-group-border-bottom;
  }
  &:active {
    border-bottom: $list-group-border-bottom;
    font-weight: bold;
  }
}

.list-group-links-title {
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
}

.title-link-color {
  color: $color-brand-primary-500;
}
