@use "../../styles/elements/list" as *;
@use "../../styles/global/tokens" as *;
@use "../../styles/global/variables" as *;

.list-group {
  display: flex;
  flex-direction: column;
}

.list-group-divider {
  background-color: $color-secondary-400;
  height: 1px;
}

.list-group-item {
  display: block;
  padding-bottom: $spacing-2;
  padding-top: $spacing-2;
  position: relative;
  text-decoration: none;
}

.list-group-item-action {
  color: $color-text-accent;
  cursor: pointer;
  text-align: inherit;
  width: 100%;

  &:hover,
  &:focus {
    z-index: 1; // Place hover/focus items above their siblings for proper border styling
    text-decoration: none;
    background-color: $color-primary-200;
  }
}

.list-group-title {
  color: $color-text-accent;
  font-weight: 700;
  padding-bottom: $spacing-3;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-10;
  align-self: stretch;
}

.menu-list__label {
  color: $color-text-accent;
  font-weight: 700;
  line-height: 27px;
}

.menu-list__item {
  color: $color-text-accent;
  font-size: $font-size-0;
  font-weight: 400;
  height: $height-7;
  line-height: 27px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  font: inherit;
  list-style: none;
  vertical-align: middle;

  @include link-states($color-brand-secondary-default, $color-primary-200);
}

.menu-list__divider {
  background-color: $color-secondary-400;
  height: 1px;
  margin-top: $spacing-2;
}

.list-item {
  padding-top: $spacing-3;
  max-width: 198px;
  overflow-wrap: break-word;
  user-select: none;

  @include link-states($color-brand-secondary-default, $color-primary-200);
}

.list-item__container {
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  font: inherit;
  list-style: none;
}

.list-item__divider {
  background-color: $color-secondary-400;
  height: 1px;
  margin-top: $spacing-2;
}
