@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

.text-color {
  color: $color-text-accent;
}

.icon-badge-size {
  height: 6rem;
  width: 6rem;
}

.icon-size {
  height: 2.375rem;
  width: 2.375rem;
}
