@use "../../../../styles/global/tokens" as *;

.card-width {
  aspect-ratio: 1;
  border-color: $color-brand-secondary-200;
  max-width: 22.5rem;
}

.time-box {
  background-color: $color-brand-secondary-100;
  height: 3.125rem;
  width: 3.125rem;
}

.title-height {
  height: 3rem;
}
