@use "../../../../styles/global/tokens" as *;

@import "../../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../../../styles/bootstrap-5.3.8/scss/variables";

// Sets width based on viewport size
.card-width {
  aspect-ratio: 1;
  border-color: $color-brand-secondary-200;
  max-width: 22.5rem;
}

.time-box {
  background-color: $color-brand-secondary-100;
  height: 3.125rem;
  width: 3.125rem;
}

.title-height {
  // Prevents the title being longer than 2 lines long
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  /* Fallback for older browsers */
  height: calc(1.2em * 2); // the number of lines
}

.unit-card-footer {
  background-color: transparent;
  border-top: none;
}

.link-color {
  color: $color-brand-primary-500;
}
