@use "../../../../styles/global/tokens" as *;

.filterable-resources-bg {
  background-color: $color-brand-secondary-100;
}

.explanation-bg {
  background-color: $color-grey-100;
  border-color: $color-brand-secondary-200 !important;
}

.hr-m {
  margin: 1.75rem 0;
}
