@use "../../../../styles/global/tokens" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.image-and-text-bg {
  background: $color-brand-primary-200;
  overflow: hidden;
}

.image-styles {
  width: 70%;
  min-width: 440px;
  margin-top: -30px;

  @include media-breakpoint-up(md) {
    margin-bottom: -20px;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 0px;
    top: -80px;
    margin-top: 0;
    width: auto;
    margin-bottom: 0;
  }
}

.image-container {
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    overflow: visible;
  }
}
