@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

.supporting-information-bg {
  background-color: $color-surface-subtle;
}

.container-border-color {
  border-color: $color-brand-secondary-200 !important;
}
