@use "../../styles/global/mixins" as *;
@use "../../styles/global/tokens" as *;
@use "../../styles/global/variables" as *;

.button {
  align-items: center;
  border: none;
  border-radius: $corner-radius-default;
  display: flex;
  justify-content: center;
  line-height: 22px;
  padding: $spacing-2xs $spacing-sm;
  @include responsive-token("font-size", $font-sizes-responsive-map, "body");
}

.button__label {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: $spacing-2xs;
  vertical-align: middle;
}

.button__label-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--primary {
  background-color: $color-button-primary-default;
  color: $color-text-default;

  &:active {
    background-color: $color-button-primary-active;
  }

  &:focus {
    background-color: $color-button-primary-focus;
    box-shadow: 0 0 0 $button-border-width-default $color-state-focus;
  }

  &:hover {
    background-color: $color-button-primary-hover;
  }
}

.button--primary-inverse {
  background-color: $color-button-primary-inverse-default;
  color: $color-text-default;

  &:active {
    background-color: $color-button-primary-inverse-active;
  }

  &:focus {
    background-color: $color-button-primary-inverse-focus;
    box-shadow: 0 0 0 $button-border-width-default $color-state-focus;
  }

  &:hover {
    background-color: $color-button-primary-inverse-hover;
  }
}

.button--secondary {
  background-color: $color-button-secondary-default;
  border-color: $color-button-secondary-border;
  border-style: solid;
  border-width: $button-border-width-default;
  color: $color-text-default;

  &:active {
    background-color: $color-button-secondary-active;
  }

  &:focus {
    background-color: $color-button-secondary-focus;
    box-shadow: 0 0 0 $button-border-width-default $color-state-focus;
  }

  &:hover {
    background-color: $color-button-secondary-hover;
  }
}

.button--secondary-inverse {
  background-color: $color-button-secondary-inverse-default;
  border-color: $color-button-secondary-inverse-border;
  border-style: solid;
  border-width: $button-border-width-default;
  color: $color-text-inverse;

  &:active {
    background-color: $color-button-secondary-inverse-active;
  }

  &:focus {
    background-color: $color-button-secondary-inverse-focus;
    box-shadow: 0 0 0 $button-border-width-default $color-state-focus;
  }

  &:hover {
    background-color: $color-button-secondary-inverse-hover;
  }
}

.button--search-bar {
  @extend .button--primary;
  border: none;
  border-radius: 0 $corner-radius-default $corner-radius-default 0;
  padding: $spacing-3 $spacing-4;
  cursor: pointer;
  outline: none;
}
