@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.btn-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: map-get($spacers, 2);
  justify-content: center;
  vertical-align: middle;
}

.btn-label-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-link {
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
  }
}
