@use "../../../../../src/styles/global/tokens" as *;
@use "../../../../../src/styles/global/variables" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.section {
  background-color: $color-brand-secondary-100;
  padding: 1.5rem 0;

  @include media-breakpoint-up(lg) {
    padding: 4.5rem 0;
  }
}
