@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

.text-color {
  color: $color-text-accent;
}

.background-color {
  background-color: $color-grey-100;
}
