@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

.tip-container {
  background-color: $color-brand-primary-200;
  border-radius: 1rem;
  // background-color: #f9f9f9;
  // border-left: 4px solid #007bff;
  // padding: 10px 15px;
  // font-family: "Times New Roman", serif;
  // margin: 1em 0;
  // white-space: pre-wrap;
}
