@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.navbar-accordion-heading {
  background-color: transparent;

  &.collapsed {
    box-shadow: none !important;
  }

  &:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  &::after {
    filter: invert(1);
  }
}

.navbar-bg {
  background-color: $color-brand-primary-500;
  position: relative;
  color: $color-text-inverse;
  overflow: visible !important;
  z-index: 3;
}

.navbar-button {
  background: none;
  border: none; // To ensure correct specificity, this must be defined before any other border styles
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}

$border-bottom-width: 4px;

.navbar-height {
  height: 4rem;
}

.nav-border-bottom {
  border-top: $border-bottom-width solid transparent;
  border-bottom: $border-bottom-width solid transparent;
  box-sizing: border-box;

  &:hover {
    border-bottom: $border-bottom-width solid $color-brand-secondary-500;
  }
}

// Active styling is applied conditionally, so is defined seperately
.nav-item-selected {
  border-bottom: $border-bottom-width solid $color-brand-secondary-500;
}

.navbar-logo {
  max-width: 163px;
  @include media-breakpoint-up(sm) {
    max-width: 265px;
  }
}

.navbar-icon {
  pointer-events: none;
}

.overlayed-desktop-menu {
  position: absolute;
  z-index: 2;
}

.overlayed-mobile-menu {
  background: $gradient-brand-primary-1;
  left: 0;
  position: absolute;
  z-index: 2;
}

.overlayed-search {
  position: absolute;
  z-index: 2;
}

.screen-dimmer {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.navbar-search-panel {
  background-color: $color-brand-secondary-100;
  border-radius: 0.5rem;
  padding: 80px 0;
}
