@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

@import "../../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../../../styles/bootstrap-5.3.8/scss/variables";

.navbar-accordion-heading {
  background-color: transparent;

  &.collapsed {
    box-shadow: none !important;
  }

  &:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  &::after {
    filter: invert(1);
  }
}

.navbar-bg {
  background-color: $color-brand-primary-500;
  color: $color-text-inverse;
  overflow: visible !important;
}

.navbar-height {
  height: 4rem;
}

.navbar-icon-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}

.nav-item {
  border-bottom: 2px solid transparent; //Avoid layout shift when border appears
  &:hover {
    border-bottom: 2px solid $color-brand-secondary-500;
  }
}

.nav-item-active {
  border-bottom: 2px solid $color-brand-secondary-500;
}

.navbar-logo {
  max-width: 163px;
  @include media-breakpoint-up(sm) {
    max-width: 265px;
  }
}

.navbar-logo-link {
  text-decoration: none;
  cursor: pointer;
}

.overlayed-menu {
  z-index: 2; //Raise the megamenu above content underneath
  position: absolute;
}

.overlayed-mobile-menu {
  z-index: 2;
  position: absolute;
  left: 0;
  background: $gradient-brand-primary-1;
}
