@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

@import "../../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../../../styles/bootstrap-5.3.8/scss/variables";

.navbar-bg {
  background-color: $color-brand-primary-500;
  color: $color-text-inverse;
  overflow: visible !important;
}

.navbar-height {
  height: 4rem;
}

.navbar-logo {
  max-width: 163px;
  @include media-breakpoint-up(sm) {
    max-width: 265px;
  }
}

.navbar-icon-button {
  all: unset;
}

.overlayed-menu {
  z-index: 2; //Raise the megamenu above content underneath
  position: absolute;
}
