@use "../../../../styles/global/variables" as *;

@import "../../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../../../styles/bootstrap-5.3.8/scss/variables";

.header-bg {
  background: #223119;
  position: relative;
}

.header-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;

  // Add feather to top
  @include media-breakpoint-down(lg) {
    mask-image: linear-gradient(to bottom, transparent, black 10%);
  }
}

.header-image {
  @include media-breakpoint-up(lg) {
    position: absolute;
    width: 130%;
    right: -30%;

    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 10%,
      black 90%,
      transparent 100%
    );
  }

  @include media-breakpoint-up(xl) {
    height: 100%;
    width: auto;
    right: -10%;

    // Add feather to left and right
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
}
