@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.header-bg {
  background: $color-darker-olive-green;
  position: relative;
}

.header-image {
  @include media-breakpoint-up(lg) {
    position: absolute;
    width: 130%;
    right: -30%;

    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 10%,
      black 90%,
      transparent 100%
    );
  }

  @include media-breakpoint-up(xl) {
    height: 100%;
    width: auto;
    right: -10%;

    // Add feather to left and right
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent 100%
    );
  }

  // Add feather to top
  @include media-breakpoint-down(lg) {
    mask-image: linear-gradient(to bottom, transparent, black 10%);
  }
}
