@use "../../../../styles/global/variables" as *;

@import "../../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../../../styles/bootstrap-5.3.8/scss/variables";

.header-bg {
  background: $gradient-brand-primary-1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(
      15px + 55%
    ); // offset by container padding + 55% width of container
    width: calc(
      100% - (15px + 55%)
    ); // fill the rest of the container width to the right
    height: 100%;

    background-image: url("/images/home-header-world-of-data.png");
    background-repeat: no-repeat;
    background-position: left center; // align image left edge to left of pseudo-element
    background-size: cover;
    z-index: 0;
  }

  @include media-breakpoint-down(md) {
    &::before {
      display: none;
    }
  }
}
