@use "../../styles/global/tokens" as *;
@use "../../styles/global/variables" as *;

.congratulations-container {
    color: $color-grey-100;
    background-color: $color-brand-primary-400;

    & :last-child {
      margin-bottom: 0;
    }
}