@use "../../../styles/global/variables" as *;

@import "../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../../styles/bootstrap-5.3.8/scss/variables";

.header-bg {
  background: $gradient-brand-primary-1;
  overflow: hidden;
  position: relative;

  // Background image aligned right
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0; // align right
    width: 40%; // adjust width as needed
    height: 100%;
    // Image
    background-image: url("/example-images/home-header-world-of-data.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    z-index: 0;
  }

  // Hide image on small screens
  @include media-breakpoint-down(md) {
    &::before {
      display: none;
    }
  }
}

.header-container {
  position: relative;
  z-index: 1;
}
