@use "../../../../styles/global/tokens" as *;

.accordion-button-primary {
  &:global(.collapsed) {
    background-color: $color-brand-primary-600;
    color: $color-grey-100;
    border-bottom: 1px solid $color-brand-secondary-400;
    box-shadow: none;
    &:hover {
      background-color: $color-brand-primary-500;
      border-bottom: 1px solid $color-brand-secondary-600;
    }
    &:focus {
      box-shadow: var(--bs-accordion-btn-focus-box-shadow);
    }
  }

  &:global(:not(.collapsed)) {
    background-color: $color-brand-primary-600;
    color: $color-grey-100;
    border-bottom: 1px solid $color-brand-secondary-400;
    box-shadow: none;
    &:hover {
      background-color: $color-brand-primary-500;
      border-bottom: 1px solid $color-brand-secondary-600;
    }
    &:focus {
      box-shadow: var(--bs-accordion-btn-focus-box-shadow);
    }
  }

  &::after {
    filter: brightness(0) invert(1);
  }
}
