// 1. Include any default variable overrides here (before importing Bootstrap core – https://getbootstrap.com/docs/4.0/getting-started/theming/)
@import "./global/overrides/theme";
@import "./global/overrides/buttons";
@import "./global/overrides/typography";
@import "./global/overrides/forms";
@import "./global/overrides/list-group";
@import "./global/overrides/accordion";
@import "./global/overrides/breadcrumb";
@import "./global/overrides/components";
@import "./global/overrides/breakpoints.module";
@import "./global/overrides/pagination";

// 2. Import Bootstrap main SCSS entry point from npm package
@import "bootstrap/scss/bootstrap";

// 3. Additional custom code that relies on Boostrap being loaded
@import "./elements/buttons";
@import "./elements/math";
@import "./elements/tables";
@import "./elements/typography";

// Fix for https://anddigitaltransformation.atlassian.net/browse/ONSPPT-217 see
// https://stackoverflow.com/questions/25887927/bootstrap-some-kind-of-margin-on-mobile-devices-only-right-side
html,
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  background-color: $color-brand-secondary-100;
  flex-grow: 1;
}
