@use "global/index" as global;
@use "elements/index" as elements;

* {
  font-family: "Open sans", sans-serif;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-style: normal;
  font-weight: 400;
}
