@use "../../styles/global/tokens" as *;

.learning-resource-block__container {
  background-color: $color-grey-100;
  border: 1px solid $color-brand-secondary-300;
  border-radius: 1rem;
  max-width: 60rem;
}
