@use "../../../../styles/global/tokens" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

// Sets width based on viewport size
.card-tool {
  border-color: $color-brand-secondary-200;
  width: 18rem;
  aspect-ratio: 1;

  @include media-breakpoint-up(md) {
    width: 22.5rem;
  }

  .icon-box {
    background-color: $color-brand-secondary-300;
    height: 6rem;
    width: 6rem;
  }
}
