@use "../../../../../src/styles/global/tokens" as *;
@import "../../../../../src/styles/bootstrap-5.3.8/scss/functions";
@import "../../../../../src/styles/bootstrap-5.3.8/scss/mixins";
@import "../../../../../src/styles/bootstrap-5.3.8/scss/variables";

.tools-carousel {
  background-color: $color-grey-100;
  padding: 2.5rem 0;

  @include media-breakpoint-up(lg) {
    padding: 4rem 0;
  }
}
