@use "../../../../../src/styles/global/tokens" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.tools-carousel {
  background-color: $color-grey-100;
  padding: 2.5rem 0;

  @include media-breakpoint-up(lg) {
    padding: 4rem 0;
  }
}
