.card-case-study {
  max-width: 30rem;
}

.image {
  border-radius: 1rem;
}

.title {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.link {
  margin-top: 5rem;
}

.tag-container {
  bottom: 5%;
  right: 2.5%;
}

.small-tag {
  transform: scale(0.6);
}
