@import "../global/tokens";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

// Custom button variants for the project
.btn-primary {
  @include button-variant(
    $background: $color-brand-primary-500,
    $border: transparent,
    $hover-background: shade-color($color-brand-primary-500, 20%),
    $hover-border: transparent,
    $active-background: $color-brand-primary-600,
    $active-border: transparent,
    $disabled-background: tint-color($color-brand-primary-500, 50%),
    $disabled-border: transparent
  );

  &:focus-visible {
    background-color: $color-brand-primary-500;
    box-shadow: 0 0 0 3px $color-brand-secondary-500;
  }
}

.btn-secondary {
  @include button-variant(
    $background: $color-brand-secondary-500,
    $border: transparent,
    $hover-background: shade-color($color-brand-secondary-500, 20%),
    $hover-border: transparent,
    $active-background: $color-brand-secondary-600,
    $active-border: transparent,
    $disabled-background: tint-color($color-brand-secondary-500, 50%),
    $disabled-border: transparent
  );

  &:focus-visible {
    background-color: $color-brand-secondary-600;
    box-shadow: 0 0 0 3px $color-brand-secondary-500;
  }
}

.btn-inverse {
  @include button-variant(
    $background: $color-brand-secondary-100,
    $border: transparent,
    $hover-background: shade-color($color-brand-secondary-100, 20%),
    $hover-border: transparent,
    $active-background: $color-brand-secondary-200,
    $active-border: transparent,
    $disabled-background: tint-color($color-brand-secondary-100, 50%),
    $disabled-border: transparent
  );

  &:focus-visible {
    background-color: $color-brand-secondary-200;
    box-shadow: 0 0 0 3px $color-brand-secondary-500;
  }
}

.btn-navigation-tab {
  @include button-variant(
    $background: $color-brand-primary-500,
    $border: transparent,
    $color: $color-brand-secondary-300,
    $active-background: $color-brand-primary-500,
    $active-color: $color-brand-secondary-300
  );

  @include button-size(
    $padding-y: 0.5rem,
    $padding-x: 1rem,
    $font-size: 1.125rem,
    $border-radius: 0.5rem
  );

  &:focus-visible {
    box-shadow: 0 0 0 3px $color-brand-secondary-500;
  }
}

.btn-navigation-tab-inverse {
  @include button-variant(
    $background: $color-grey-100,
    $border: transparent,
    $color: $color-brand-primary-600,
    $hover-background: $color-brand-primary-200,
    $active-background: $color-brand-primary-500,
    $active-color: $color-brand-secondary-300
  );

  @include button-size(
    $padding-y: 0.5rem,
    $padding-x: 1rem,
    $font-size: 1.125rem,
    $border-radius: 0.5rem
  );

  &:focus-visible {
    box-shadow: 0 0 0 3px $color-brand-secondary-500;
  }
}
