@use "../global/variables" as *;

@mixin button-states($active-color, $focus-color, $focus-shadow, $hover-color) {
  &:active {
    background-color: $active-color;
  }

  &:focus {
    box-shadow: 0 0 0 1px $color-brand-secondary-default;
  }

  &:hover {
    background-color: $hover-color;
  }
}
