@import "../global/tokens";

.table-ppt {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;

  th {
    background-color: $color-brand-primary-200;
  }

  tr:not(:has(th)) {
    border-bottom: 1px solid $color-grey-500;
  }

  th,
  td {
    padding: 1em;
  }

  p {
    margin-bottom: 0;
  }
}
