@import "../../styles/bootstrap-5.3.8/scss/variables";

.heading-xl {
  @extend .h1;
  line-height: 115%;
  font-size: 5.625rem;
  font-weight: $font-weight-light;

  @include media-breakpoint-down(md) {
    line-height: 120%;
    font-size: 3.75rem;
  }
}

.heading-l {
  @extend .h2;
  line-height: 120%;
  font-size: 3.75rem;
  font-weight: $font-weight-light;

  @include media-breakpoint-down(md) {
    line-height: 115%;
    font-size: 2.25rem;
    font-weight: $font-weight-bold;
  }
}

.heading-m {
  @extend .h3;
  line-height: 115%;
  font-size: 2.25rem;
  font-weight: $font-weight-bold;
}

.heading-s {
  @extend .h4;
  font-size: 1.5rem;
  font-weight: $font-weight-light;
  line-height: 115%;
  margin: 0;
  padding: 0;

  @include media-breakpoint-down(md) {
    line-height: 150%;
    font-size: 1.5rem;
  }
}

.heading-xs {
  @extend .h5;
  line-height: 115%;
  font-size: 1.25;
  font-weight: $font-weight-bold;
}

.body-regular {
  @extend .p;
  line-height: 115%;
  font-size: 1rem;
  font-weight: $font-weight-light;
  margin: 0;
  padding: 0;
}

.body-bold {
  @extend .p;
  line-height: 115%;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  margin: 0;
  padding: 0;
}
