@use "../global/variables" as *;
@use "../global/mixins" as *;

.heading-xl {
  font-weight: 400;
  line-height: normal;
  @include responsive-token(
    "font-size",
    $font-sizes-responsive-map,
    "heading-xl"
  );
}

.heading-l {
  font-weight: 400;
  line-height: normal;
  @include responsive-token(
    "font-size",
    $font-sizes-responsive-map,
    "heading-l"
  );
}

.heading-m {
  font-weight: 400;
  line-height: normal;
  @include responsive-token(
    "font-size",
    $font-sizes-responsive-map,
    "heading-m"
  );
}

.heading-s {
  font-weight: 400;
  line-height: normal;
  @include responsive-token(
    "font-size",
    $font-sizes-responsive-map,
    "heading-s"
  );
}

.body {
  font-weight: 400;
  line-height: 22px;
  @include responsive-token("font-size", $font-sizes-responsive-map, "body");
}
