@use "../global/variables" as *;
@use "../global/mixins" as *;
@use "../global/tokens" as *;

.heading-xl {
  font-family: $font-family--open-sans;
  font-weight: $font-weight-1;
  @include responsive-token(
    "font-size",
    $font-sizes-responsive-map,
    "heading-xl"
  );
}

.heading-l {
  font-family: $font-family--open-sans;
  font-weight: $font-weight-1;
  @include responsive-token(
    "font-size",
    $font-sizes-responsive-map,
    "heading-l"
  );
}

.heading-m {
  font-family: $font-family--open-sans;
  font-weight: $font-weight-1;
  @include responsive-token(
    "font-size",
    $font-sizes-responsive-map,
    "heading-m"
  );
}

.heading-s {
  font-family: $font-family--open-sans;
  font-weight: $font-weight-1;
  @include responsive-token(
    "font-size",
    $font-sizes-responsive-map,
    "heading-s"
  );
}
