@import "../../styles/global/tokens";
@import "../../styles/bootstrap-5.3.8/scss/variables";

.heading-xl {
  @extend .h1;
  line-height: 115%;
  font-size: 5.625rem;
  font-weight: $font-weight-light;

  @include media-breakpoint-down(md) {
    line-height: 120%;
    font-size: 3.75rem;
  }
}

.heading-l {
  @extend .h2;
  line-height: 120%;
  font-size: 3.75rem;
  font-weight: $font-weight-light;

  @include media-breakpoint-down(md) {
    line-height: 115%;
    font-size: 2.25rem;
    font-weight: $font-weight-bold;
  }
}

.heading-m {
  @extend .h3;
  line-height: 115%;
  font-size: 2.25rem;
  font-weight: $font-weight-semibold;
}

.heading-s {
  @extend .h4;
  font-size: 1.5rem;
  font-weight: $font-weight-light;
  line-height: 115%;
}

.heading-xs {
  @extend .h5;
  line-height: 115%;
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
}

// Rich text overrides
.text-module {
  .heading-m,
  .heading-s {
    margin-bottom: 0.75em;
  }

  li p {
    margin-bottom: 0;
  }

  hr {
    margin: 1.75rem 0;
  }
}

*:focus-visible {
  border-color: rgb(159, 164.5, 155);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(63, 74, 55, 0.25);
}
