{% extends "base.html" %} {% block content %}
<div class="container-lg p-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h1>Please enter your password to continue</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <form class="col-md-4 py-2" action="/" method="post">
      <div class="input-group has-validation mb-3">
        <input type="hidden" name="refererUrl" value="{{ refererUrl }}" />
        <input
          class="form-control {% if wasValidated and isValid %}is-valid{% elif wasValidated and not isValid %}is-invalid{% endif %}"
          type="password" name="password" placeholder="password" aria-label="password" aria-describedby="submit-button"
          required />
        <button class="btn btn-primary" type="submit" id="submit-button">
          Submit
        </button>
        <div class="invalid-feedback">Please enter a valid password.</div>
      </div>
    </form>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <p>This authentication service uses cookies to securely identify and maintain your authenticated session, allowing
        you to access resources across the parent domain. These cookies are strictly necessary for the core
        functionality of the services and are set with security measures to protect your information. By continuing to
        use this service, you consent to the use of these essential cookies.</p>
    </div>
  </div>
  {% endblock %}
</div>