---
---

<div class="flex items-centered justify-between px-8 py-3.5">
    <a href="/" class="text-4xl text-blue-700 font-bold">
        Home
    </a>
    <div class="flex items-center space-x-3.5">
        <a href="/data-analysis" class="text-gray-700 hover:text-blue-800">Data Analysis</a>
        <a href="/data-collection" class="text-gray-700 hover:text-blue-800">Data Collection</a>
        <a href="/data-governance" class="text-gray-700 hover:text-blue-800">Data Governance</a>
        <a href="/leave-feedback" class="text-gray-700 hover:text-blue-800"> Leave Feedback</a>
        <a href="/outputs-and-reporting" class="text-gray-700 hover:text-blue-800">Outputs and Reporting</a>
        <a href="/stakeholder-engagement" class="text-gray-700 hover:text-blue-800">Stakeholder Engagement</a>
    </div>
</div>
