---
import BaseLayout from "@layouts/BaseLayout.astro";
import sanitizeHtml from "sanitize-html";

// Interfaces
import type { CarouselProps } from "@components/Core/Carousel/Carousel.interface";
import type { LearningModuleProps } from "@components/Core/LearningModule/LearningModule.interface";

// Components
import { Carousel } from "@components/Core/Carousel/Carousel";
import { Header } from "@components/Core/Header/Header";
import { LearningModule } from "@components/Core/LearningModule/LearningModule";

// Helpers
import { parseMarkdown } from "@helpers/parseMarkdown";

// Content
import headerData from "@content/learning-resources/data-analysis/epidemiological-analysis/mortality-analysis/header.json";
import learningModuleData from "@content/learning-resources/data-analysis/epidemiological-analysis/mortality-analysis/learningModule.json";
import overviewMarkdown from "@content/learning-resources/data-analysis/epidemiological-analysis/mortality-analysis/overview.md?raw";

// Update learning module data to include markdown content as html and parentUrl prop for chapter
// list
const htmlContent = await parseMarkdown(overviewMarkdown);
learningModuleData.cardProps.htmlContent = sanitizeHtml(htmlContent);
learningModuleData.navProps.parentUrl = Astro.url.pathname;
---

<BaseLayout title={headerData.title}>
  <main>
    <Header {...headerData} />
    <LearningModule {...learningModuleData as LearningModuleProps} />
    <Carousel />
  </main>
</BaseLayout>
