---
import StylingTestComponent from "../components/StylingTest";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
  <h1>Data Analysis</h1>
  <StylingTestComponent />
</BaseLayout>
