---
import Card from "../components/Card.astro"
import BaseLayout from "../layout/BaseLayout.astro"

interface FrontMatter{
	title: string;
	slug: string;
	thumbnail: string;
}
const posts = await Astro.glob<FrontMatter>("./posts/*.md")
---

<BaseLayout>
	<div>
		{posts.map((post)=>{
			<Card 
				title={post.frontmatter.title} 
				description={`${post.rawContent().slice(0,100)}...`}
				href={post.frontmatter.slug}
				thumbnail={post.frontmatter.thumbnail}
			/>
		})}
	</div>
</BaseLayout>