---
import { v4 as uuidv4 } from "uuid";
import { getLiveStory } from "@storyblok/astro";
import BaseLayout from "@layouts/BaseLayout.astro";

// Interfaces
import type { CarouselProps } from "@components/Core/Carousel/Carousel.interface";
import type { HeaderProps } from "@components/Home/Header/Header.interface";
import type { QuickLinksProps } from "@components/Home/QuickLinks/QuickLinks.interface";
import type { DatasourceEntry } from "@src/types/DatasourceEntry";
import type { NavItem } from "@src/types/NavItem";

// Components
import { Carousel } from "@components/Core/Carousel/Carousel";
import { CaseStudies } from "@components/Home/CaseStudies/CaseStudies";
import { Header } from "@components/Home/Header/Header";
import { ImageAndText } from "@components/Organisms/Home/ImageAndText/ImageAndText";
import { Impact } from "@src/components/Organisms/Home/Impact/Impact";
import { StrategicPartners } from "@src/components/Organisms/Home/StrategicPartners/StrategicPartners";
import { QuickLinks } from "@components/Home/QuickLinks/QuickLinks";
import { StatisticsAndText } from "@components/Home/StatisticsAndText/StatisticsAndText";
import { References } from "@components/Core/References/References";

// Helpers
import { fetchDatasourceEntries, fetchStory } from "@/src/helpers/fetchContent";

// Content
import carouselData from "@content/Home/carousel.json";
import caseStudiesData from "@content/Home/caseStudies.json";
import navBarData from "@content/base/navBarData.json";
import statisticsAndTextData from "@content/Home/statisticsAndText.json";
import referencesData from "@content/Home/references.json";

// Fetch datasource content from api to return content and strings we need
const homeLabel = (await fetchDatasourceEntries(
  "breadcrumb-strings",
  "homeLabel",
)) as DatasourceEntry;
const homeStrings = (await fetchDatasourceEntries(
  "home-strings",
)) as DatasourceEntry[];

let story = null;

const liveStory = await getLiveStory(Astro);

if (liveStory) {
  story = liveStory;
} else {
  const { data } = await fetchStory("home");
  story = data?.story;
}

const searchBarPlaceholderText = homeStrings.find(
  (item) => item.name === "searchBarPlaceholderText",
);
const whatIsAaButtonLabel = homeStrings.find(
  (item) => item.name === "whatIsAaButtonLabel",
);

// Build header data
const headerData: HeaderProps = {
  breadcrumbs: {
    items: [
      {
        href: "/",
        label: homeLabel.value,
        id: uuidv4(),
      },
    ],
  },
  ...story.content.header[0],
  searchPlaceholderText: searchBarPlaceholderText
    ? searchBarPlaceholderText.value
    : "",
};

console.log(story.content);

// Ref learning resources data from `navBarData` for rendering as quick links
const quickLinksData: QuickLinksProps = {
  title: navBarData.items[1].label,
  navItems: navBarData.items[1].children as NavItem[],
};
---

<BaseLayout>
  <main>
    <Header {...headerData} client:visible />
    <QuickLinks {...quickLinksData} />
    <ImageAndText {...story.content.imageAndText[0]} />
    <StatisticsAndText {...statisticsAndTextData} />
    <Carousel {...carouselData as CarouselProps} client:visible />
    <CaseStudies {...caseStudiesData} />
    <Impact {...story.content.Impact[0]} />
    <StrategicPartners {...story.content.StrategicPartners[0]} />
    <References {...referencesData} client:visible />
  </main>
</BaseLayout>
