---
import BaseLayout from "../layout/BaseLayout.astro"
---

<BaseLayout>
	<main>
		<h1>Index</h1>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, reiciendis! Repellendus error molestias molestiae aliquam quisquam laboriosam voluptates id aperiam ex eius consequuntur, veritatis aspernatur magni ipsa non earum! Et velit nisi qui architecto? Magnam nisi suscipit cumque ullam corporis?</p>
		<img src="/img/hero.jpg" alt="Stars in the sky"/>
	</main>
</BaseLayout>