---
import { getCollection } from "astro:content";
import BaseLayout from "../layout/BaseLayout.astro";

const indexCollection = await getCollection("index");
const homepageData = indexCollection[0].data;
---

<BaseLayout>
  <main>
    <h1>
      {homepageData.content.hero.headline}
    </h1>
    <p>{homepageData.content.hero.subheadline}</p>
  </main>
</BaseLayout>
