---
import { getCollection } from "astro:content";
import BaseLayout from "../layout/BaseLayout.astro";

import headerData from "../content/Home/header.json";
import { Header } from "../components/Home/Header/Header";
import impactAndPartnersData from "../content/Home/impactAndPartners.json";
import { ImpactAndPartners } from "../components/Home/ImpactAndPartners/ImpactAndPartners";
import type { ImpactAndPartnersProps } from "../components/Home/ImpactAndPartners/ImpactAndPartners.interface";
import navBarData from "../content/base/navBarData.json";
import { QuickLinks } from "../components/Home/QuickLinks/QuickLinks";
import type { QuickLinksProps } from "../components/Home/QuickLinks/QuickLinks.interface";
import type { NavItem } from "../types/NavItem";
import imageAndTextData from "../content/Home/imageAndText.json";
import { ImageAndText } from "../components/Home/ImageAndText/ImageAndText";
import statisticsAndTextData from "../content/Home/statisticAndText.json";
import { StatisticsAndText } from "../components/Home/StatisticsAndText/StatisticsAndText";
import caseStudiesData from "../content/Home/caseStudies.json";
import { CaseStudies } from "../components/Home/CaseStudies/CaseStudies";

const indexCollection = await getCollection("index");
const homepageData = indexCollection[0].data;

// Ref learning resources data from `navBarData` for rendering as quick links
const quickLinksData: QuickLinksProps = {
  title: navBarData.items[1].label,
  navItems: navBarData.items[1].children as NavItem[],
};
---

<BaseLayout>
  <main>
    <Header {...headerData} />
    <QuickLinks {...quickLinksData} />
    <ImageAndText {...imageAndTextData} />
    <StatisticsAndText {...statisticsAndTextData} />
    <CaseStudies {...caseStudiesData} />
    <!-- Props type required here to stop typescript error -->
    <ImpactAndPartners {...impactAndPartnersData as ImpactAndPartnersProps} />
  </main>
</BaseLayout>
