---
import BaseLayout from "../layout/BaseLayout.astro"
---

<BaseLayout>
	<main class="mx-auto max-w-screen-lg mb-24">
		<h1 class="text-4xl text-blue-700 font-bold mt-24">Index</h1>
		<p class="mt-2.5 text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, reiciendis! Repellendus error molestias molestiae aliquam quisquam laboriosam voluptates id aperiam ex eius consequuntur, veritatis aspernatur magni ipsa non earum! Et velit nisi qui architecto? Magnam nisi suscipit cumque ullam corporis?</p>
		<img src="/img/hero.jpg" alt="Stars in the sky" class="mt-4 rounded-lg shadow-sm"/>
	</main>
</BaseLayout>