---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SearchBar } from "@components/Molecules/SearchBar/SearchBar";
import { Header } from "@/src/components/Organisms/Core/Header/Header";
import headerData from "@content/search-results/header.json";
import SearchContainer from "@components/Util/SearchComponent.astro";
import ResultsWrapper from "@components/Util/SearchResultsWrapper.astro";

const urlParams = Astro.url.searchParams;
const initialQuery = urlParams.get("params") || ""; // TODO: fix this, or remove it
const pageTitle = initialQuery
  ? `Search Results for "${initialQuery}"`
  : "Site Search";
---

<BaseLayout title={pageTitle}>
  <main>
    <Header {...headerData} />

    <SearchContainer>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="col-xl-9">
            <SearchBar
              placeholder="Search the site..."
              isResultsPage={true}
              client:load
            />
          </div>
        </div>
      </div>
    </SearchContainer>

    <ResultsWrapper />
  </main>
</BaseLayout>
