---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { Header } from "@src/components/Organisms/Core/Header/Header";
import staticHeaderData from "@src/content/search-results/header.json";
import SearchInput from "@src/components/Organisms/Core/Search/SearchInput.astro";
import SearchResults from "@src/components/Organisms/Core/Search/SearchResults.astro";
import strings from "@src/content/strings.json";
import type { HeaderProps } from "@src/components/Organisms/Core/Header/Header.interface";

const headerData: HeaderProps = {
  title: staticHeaderData.title,
  breadcrumbs: {
    items: staticHeaderData.breadcrumbs.items.map((item, index) => ({
      ...item,
      // search result page uses static data, default values supplied to match storyblok type
      id: String(index),
      fieldtype: "default",
      linktype: "default",
      cached_url: item.url,
    })),
  },
};
---

<BaseLayout title={strings.search.pageTitle}>
  <main>
    <Header {...headerData} />

    <SearchInput />

    <SearchResults />
  </main>
</BaseLayout>
