@use "../../styles/global/variables" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.mega-menu {
  background-color: $color-surface-subtle;
  padding: 1.5rem 0;

  @include media-breakpoint-up(lg) {
    padding: 5rem 0;
  }
}
