@use "../../styles/global/tokens" as *;

@import "../../styles/bootstrap-5.3.8/scss/functions";
@import "../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../styles/bootstrap-5.3.8/scss/variables";

// Sets width based on viewport size
.card-icon {
  border-color: $color-brand-secondary-200;
  width: 18rem;

  @include media-breakpoint-up(md) {
    width: 22.5rem;
  }

  .icon-box {
    background-color: $color-brand-secondary-300;
    height: 6rem;
    width: 6rem;
  }
}
