@use "../../styles/global/tokens" as *;
@use "../../styles/global/mixins" as *;
@use "../../styles/global/variables" as *;

header {
  background: $background-gradient-1;
  min-height: 640px;
  color: $color-text-inverse;
}

.header-content {
  max-width: 871px;
  padding: $spacing-6 $spacing-3;

  * {
    padding-bottom: $spacing-6;
  }

  .heading-xl {
    font-weight: 300;
  }

  @include respond-to(tablet) {
    padding: $spacing-7 0 0 $spacing-12;
  }
}
