@use "../../styles/global/tokens" as *;
@use "../../styles/global/mixins" as *;

header {
  background: $background-gradient-1;
  min-height: 10em;
  padding: $spacing-11 0;
}

.header-content {
  max-width: 800px;
  padding: 0 $spacing-3;

  @include respond-to(tablet) {
    padding-left: $spacing-12;
  }
}
