@use "../../styles/global/mixins" as *;
@use "../../styles/global/tokens" as *;
@use "../../styles/global/variables" as *;

$navbar-responsive-map: (
  "height": (
    "mobile": $spacing-md,
    "tablet": $spacing-xl,
    "desktop": $spacing-xl,
  ),
  "padding-left": (
    "mobile": $spacing-3,
    "tablet": $spacing-12,
    "desktop": $spacing-12,
  ),
  "padding-right": (
    "mobile": $spacing-3,
    "tablet": $spacing-12,
    "desktop": $spacing-12,
  ),
);

.navbar {
  align-items: center;
  background: $color-brand-primary-default;
  color: $color-text-inverse;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  @include responsive-token("height", $navbar-responsive-map, "height");
  @include responsive-token(
    "padding-left",
    $navbar-responsive-map,
    "padding-left"
  );
  @include responsive-token(
    "padding-right",
    $navbar-responsive-map,
    "padding-right"
  );
}

$navbar-brand-responsive-map: (
  "height": (
    "mobile": $height-brand-mobile,
    "tablet": $height-brand-desktop,
    "desktop": $height-brand-desktop,
  ),
);

.navbar-brand {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__image {
    @include responsive-token("height", $navbar-brand-responsive-map, "height");
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-2;
  padding: $spacing-2;
  list-style: none;
}

.nav-link {
  align-items: center;
  color: $color-text-inverse;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  vertical-align: middle;

  &:active {
    color: $color-secondary-600;
  }

  &:focus {
    color: $color-secondary-600;
  }

  &:hover {
    color: $color-secondary-600;
  }
}

.navbar-locale {
  align-items: center;
  color: $color-text-inverse;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-2;
  justify-content: center;
  padding: $spacing-2;
  text-decoration: none;
  vertical-align: middle;

  &__descriptor {
    display: flex;
    @media (max-width: 720px) {
      display: none;
    }
  }
}

.navbar-search {
  align-items: center;
  color: $color-text-inverse;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: $spacing-2;
  text-decoration: none;
  vertical-align: middle;
}

.navbar-hamburger {
  align-items: center;
  color: $color-text-inverse;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: $spacing-2;
  text-decoration: none;
  vertical-align: middle;

  @media (max-width: 720px) {
    height: $height-brand-mobile;
  }
}

.mega-menu {
  background-color: $color-surface-subtle;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

// Mobile styles
@media (max-width: 720px) {
  .nav-item,
  .navbar-search {
    display: none !important; // hide on mobile
  }

  .navbar-hamburger {
    display: flex !important; // show on mobile
  }
}
