@use "../../../../styles/global/tokens" as *;

.accordion-button {
  background-color: $color-brand-secondary-200 !important;
  border-color: $color-brand-secondary-500 !important;

  &:hover {
    background-color: $color-brand-secondary-100 !important;
  }
  &:active {
    background-color: $color-brand-secondary-100 !important;
    font-weight: bold;
  }
}

.container {
  background-color: $color-brand-secondary-100;
  max-width: 20rem;
}

.list-group-item {
  &:active,
  &:hover {
    border-bottom: 1px solid $color-brand-primary-500 !important;
  }
}
