---
import DynamicComponent from "@src/components/DynamicComponent.astro";
import clsx from "clsx";

const { highlightTitle, textarea } = Astro.props;
---

<div class={clsx("w-100", "py-4", "container-lg")}>
  <div class={clsx("rounded-top", "content-title")}>
    <h4 class={clsx("heading-s", "m-0")}>{highlightTitle}</h4>
  </div>
  <div class={clsx("rounded-bottom", "content-container")}>
    {textarea.map((blok: any) => <DynamicComponent blok={blok} />)}
  </div>
</div>

<style lang="scss">
  @import "@styles/index.scss";
  .content-title {
    background-color: $color-brand-primary-200;
    padding: 1rem 2rem;
  }
  .content-container {
    background-color: $color-brand-primary-100;
    padding: 2rem;
  }
</style>
