---
import type { ISbStoryData } from "storyblok-js-client";

import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import DynamicComponent from "@src/components/DynamicComponent.astro";
import { Header } from "@src/components/Organisms/Core/Header/Header";

// Types
import type { BreadcrumbProps } from "@src/components/Molecules/Core/Breadcrumb/Breadcrumb.interface";
import type { ReferenceProps } from "@src/components/Molecules/Core/Reference/Reference.interface";
import clsx from "clsx";

interface Props {
  breadcrumbs: BreadcrumbProps;
  referencesData?: ReferenceProps[];
  story: ISbStoryData;
}
const { breadcrumbs, referencesData, story } = Astro.props;
console.log(Astro.props);
---

<div class={clsx("w-100", "py-4")} style="background-color:#f8f5f1">
  <div
    class="container-lg border rounded p-4"
    style="background-color:#ffffff"
    ;
    border-color:#f0e6d8
  >
    <div class="row">
      {
        Astro.props.textarea.map((blok: any) => (
          <DynamicComponent blok={blok} />
        ))
      }
    </div>
  </div>
</div>
