---
import DynamicComponent from "@src/components/DynamicComponent.astro";
import clsx from "clsx";

const { textarea } = Astro.props;
---

<div class={clsx("w-100", "py-4")} style="background-color:#f8f5f1">
  <div
    class="container-lg border rounded p-4"
    style="background-color:#ffffff; border-color:#f0e6d8"
  >
    {textarea.map((blok: any) => <DynamicComponent blok={blok} />)}
  </div>
</div>
