// Popovers

// scss-docs-start popover-variables
// $popover-font-size:                 $font-size-sm !default;
// $popover-bg:                        var(--#{$prefix}body-bg) !default;
$popover-max-width: 350px;
// $popover-border-width:              var(--#{$prefix}border-width) !default;
$popover-border-color: #f0e6d8;
$popover-border-radius: 1rem;
// $popover-inner-border-radius:       calc(#{$popover-border-radius} - #{$popover-border-width}) !default; // stylelint-disable-line function-disallowed-list
// $popover-box-shadow:                var(--#{$prefix}box-shadow) !default;

// $popover-header-font-size:          $font-size-base !default;
// $popover-header-bg:                 var(--#{$prefix}secondary-bg) !default;
// $popover-header-color:              $headings-color !default;
// $popover-header-padding-y:          .5rem !default;
// $popover-header-padding-x:          $spacer !default;

// $popover-body-color:                var(--#{$prefix}body-color) !default;
$popover-body-padding-y: 1rem;
$popover-body-padding-x: 1rem;

$popover-arrow-width: 0;
$popover-arrow-height: 0;
// scss-docs-end popover-variables

// fusv-disable
// Deprecated in Bootstrap 5.2.0 for CSS variables
// $popover-arrow-color:               $popover-bg !default;
// $popover-arrow-outer-color:         var(--#{$prefix}border-color-translucent) !default;
// fusv-enable

// background: var(--Colours-Grey-White-100, #fff);
// /* Card-shadow large */
// box-shadow: 0 10px 20px 0 rgba(47, 50, 125, 0.1);
