@use "../../../../styles/global/tokens" as *;

.tag-level {
  background-color: $color-grey-200;
}

.tag-location {
  background-color: $color-brand-primary-200;
}

.tag-theme {
  background-color: $color-brand-secondary-300;
}
