@use "../../../../styles/global/tokens" as *;

@import "../../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../../styles/bootstrap-5.3.8/scss/variables";

.tag-level {
  background-color: $color-grey-200;
}

.tag-location {
  background-color: $color-brand-primary-200;
}

.tag-theme {
  background-color: $color-brand-secondary-300;
}
