@use "../../styles/global/variables" as *;

.footer {
  background-color: $color-surface-inverse;
  color: $color-text-inverse;
  display: flex;
  gap: $spacing-md;
  justify-content: center;
  padding: $spacing-2xl;
}

.footer__footer-column {
  width: 400px;
}

.footer__list {
  list-style: none;
  padding-left: 0;
}

.footer__item {
  padding-top: $spacing-xs;
}

.footer__link {
  color: $color-text-inverse;
}
