@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

.chapter-list__list-group {
  color: $color-brand-primary-500;
}

.chapter-list__list-group-item {
  border-left: 3px solid $color-grey-600;
  list-style-type: none;
  &:hover {
    border-left: 3px solid $color-brand-secondary-500;
  }
}

.active {
  border-left: 3px solid $color-brand-secondary-500;
}
