@use "../../../../styles/global/tokens" as *;

.container-bg {
  background-color: $color-grey-100;
  border-color: $color-brand-secondary-300;
}

.icon-bg {
  background-color: $color-brand-secondary-100;
}

.hr-m {
  margin: 1.75rem calc(var(--bs-gutter-x) * 0.5);
}
