@use "../../styles/elements/list" as *;
@use "../../styles/global/tokens" as *;

.list-item {
  padding-top: $spacing-3;
  max-width: 198px;
  overflow-wrap: break-word;
  user-select: none;

  @include link-states(
    $color-brand-secondary-default,
    $color-brand-primary-200
  );
}

.list-item__container {
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  font: inherit;
  list-style: none;
}

.list-item__divider {
  background-color: $color-brand-secondary-400;
  height: 1px;
  margin-top: $spacing-2;
}
