.card-case-study-small {
  max-width: 37rem;
}

.card-case-study-small__image {
  border-radius: 1rem;
}

.card-case-study-small__title {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
