---
import BaseLayout from "@layouts/BaseLayout.astro";

// Interfaces
import type { CarouselProps } from "@components/Core/Carousel/Carousel.interface";

// Components
import { Carousel } from "@components/Core/Carousel/Carousel";
import { Header } from "@components/Core/Header/Header";
// import { UnitBlock } from "@components/Core/UnitBlock/UnitBlock";

// Content
import carouselData from "@content/learning-resources/data-analysis/epidemiological-analysis/introduction-to-mortality-analysis/carousel.json";
import headerData from "@content/learning-resources/data-analysis/epidemiological-analysis/introduction-to-mortality-analysis/header.json";
// import unitBlockData from "@content/learning-resources/data-analysis/epidemiological-analysis/unitBlock.json";
---

<BaseLayout title={headerData.title}>
  <main>
    <Header {...headerData} />
    <Carousel {...carouselData as CarouselProps} />
  </main>
</BaseLayout>
