@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

@import "../../../../styles/bootstrap-5.3.8/scss/functions";
@import "../../../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../../../styles/bootstrap-5.3.8/scss/variables";

.container {
  background-color: $color-grey-100;
  border: 1px solid $color-brand-secondary-300;
  border-radius: 1rem;
  max-width: 60rem;
}

.chapters-accordion-heading {
  background-color: $color-brand-primary-500;

  &.collapsed {
    box-shadow: none !important;
  }

  &:not(.collapsed) {
    background-color: $color-brand-primary-500 !important;
    box-shadow: none !important;
  }

  &::after {
    filter: invert(1);
  }
}

.accordion-container {
  padding: 2.5rem 1rem;

  @include media-breakpoint-up(lg) {
    padding: 2.5rem 1.5rem;
  }
}
