@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.container {
  background-color: $color-grey-100;
  border: 1px solid $color-brand-secondary-300;
  border-radius: 1rem;
  max-width: 60rem;
}

.chapters-accordion-heading {
  border-bottom: 1px solid $color-brand-secondary-400;
  &:hover {
    border-bottom: 1px solid $color-brand-secondary-600;
  }

  &:global(.collapsed) {
    background-color: $color-brand-primary-600;
    box-shadow: none;
    &:hover {
      background-color: $color-brand-primary-500;
    }
    &:focus {
      box-shadow: var(--bs-accordion-btn-focus-box-shadow);
    }
  }

  &:global(:not(.collapsed)) {
    background-color: $color-brand-primary-600;
    box-shadow: none;
    &:hover {
      background-color: $color-brand-primary-500;
    }
    &:focus {
      box-shadow: var(--bs-accordion-btn-focus-box-shadow);
    }
  }

  &::after {
    filter: invert(1);
  }
}

.accordion-container {
  padding: 2.5rem 1rem;

  @include media-breakpoint-up(lg) {
    padding: 2.5rem;
  }
}
