@import "../../styles/bootstrap-5.3.8/scss/functions";
@import "../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../styles/bootstrap-5.3.8/scss/variables";

// chaining increases specificity to ensure module styles win in all environments
.btn-arrow:global(.btn) {
  @include button-size(
    $padding-y: map-get($spacers, 1),
    $padding-x: map-get($spacers, 1),
    $font-size: $btn-font-size,
    $border-radius: 50%
  );
  align-items: center;
  aspect-ratio: 1;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  width: 50px;
}
