@use "../../styles/elements/buttons" as *;
@use "../../styles/global/tokens" as *;

.button {
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba($color-grey-900, 0.25);
  height: 50px;
  width: 50px;
}

.arrow-button--primary {
  @extend %button-primary;
}

.arrow-button--primary-inverse {
  @extend %button-primary-inverse;
}

.button__label {
  @extend %button-label;
}

.button__label-icon {
  @extend %button-label-icon;
}
