@import "../../styles/bootstrap-5.3.8/scss/functions";
@import "../../styles/bootstrap-5.3.8/scss/mixins";
@import "../../styles/bootstrap-5.3.8/scss/variables";

.btn-arrow {
  @include button-size(
    $padding-y: map-get($spacers, 1),
    $padding-x: map-get($spacers, 1),
    $font-size: $btn-font-size,
    $border-radius: 50%
  );
  height: 50px;
  width: 50px;
}
