---
import './footer.scss'
---
<div>
    <p>Copyright © PPT</p>
    <div>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-and-conditions">Terms and Conditions</a>
        <a href="/cookies">Cookie Policy</a>
    </div>
</div>