@import "../../../../styles/global/tokens";

.label {
  cursor: pointer;
  font-weight: bolder;
  text-decoration: none;
  text-underline-offset: 0.375rem;

  &:active {
    text-decoration: underline;
    text-decoration-thickness: 3px !important;
  }

  &:hover {
    text-decoration: underline;
  }
}
