---
// Components
import { Footer } from "@components/Organisms/Core/Footer/Footer";
import { NavBar } from "@components/Organisms/Core/NavBar/NavBar";
import { References } from "@components/Organisms/Core/References/References";

// Content
import strings from "@content/strings.json";

// Css and fonts
import "@styles/index.scss";
import "@fontsource-variable/open-sans";

// Helpers
import { fetchStory } from "@helpers/fetchContent";

// Types
import type { FooterProps } from "@components/Organisms/Core/Footer/Footer.interface";
import type { NavBarProps } from "@components/Organisms/Core/NavBar/NavBar.interface";
import type { ReferenceProps } from "@src/components/Molecules/Core/Reference/Reference.interface";

interface Props {
  title?: string;
  referencesData?: ReferenceProps[];
}
const { title, referencesData } = Astro.props;

let footerContent = null;
let navBarContent = null;

try {
  const footerResponse = await fetchStory("footer");
  footerContent = footerResponse.data?.story?.content as FooterProps;
} catch (error) {
  console.error("Failed to fetch Footer story:", error);
}

try {
  const navBarResponse = await fetchStory("navbar");
  navBarContent = navBarResponse.data?.story?.content as NavBarProps;
} catch (error) {
  console.error("Failed to fetch NavBar story:", error);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="/js/bootstrap.bundle.min.js" defer is:inline></script>
    <title>{title ? `${strings.title} | ${title}` : strings.title}</title>
  </head>
  <body>
    <header>
      {navBarContent && <NavBar {...navBarContent} client:load />}
    </header>
    <main>
      <slot />
    </main>
    {referencesData && <References references={referencesData} />}
    {footerContent && <Footer {...footerContent} />}
    <script>
      // For popover functionality
      document.addEventListener("DOMContentLoaded", () => {
        const popoverTriggerList = Array.from(
          document.querySelectorAll('[data-bs-toggle="popover"]'),
        );
        popoverTriggerList.forEach((popoverTriggerEl) => {
          new window.bootstrap.Popover(popoverTriggerEl, {
            trigger: "focus",
          });
        });
      });
    </script>
  </body>
</html>
