---
import { getLiveStory } from "@storyblok/astro";

// Components
import { Footer } from "@components/Organisms/Core/Footer/Footer";
import { NavBar } from "@components/NavBar/NavBar";

// Content
import strings from "@content/strings.json";
import navBarData from "@content/base/navBarData.json";

// Css and fonts
import "@styles/index.scss";
import "@fontsource-variable/open-sans";

// Helpers
import { fetchStory } from "@helpers/fetchContent";
import type { FooterProps } from "@components/Organisms/Core/Footer/Footer.interface";

interface Props {
  title?: string;
}
const { title } = Astro.props;

let story = null;

const liveStory = await getLiveStory(Astro);

if (liveStory) {
  story = liveStory;
} else {
  const { data } = await fetchStory("footer");
  story = data?.story;
}

const footerContent = story.content as FooterProps;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      defer
      is:inline></script>
    <title>{title ? `${strings.title} | ${title}` : strings.title}</title>
  </head>
  <body>
    <header>
      <NavBar {...navBarData} client:load />
    </header>
    <slot />
    <Footer {...footerContent} client:load />
  </body>
</html>
