---
import type { ISbStoryData } from "storyblok-js-client";

// Components
import { Header } from "@src/components/Organisms/Home/Header/Header";
import DynamicComponent from "@src/components/DynamicComponent.astro";

// Layouts
import BaseLayout from "@src/layouts/BaseLayout.astro";

// Types
import type { BreadcrumbProps } from "@src/components/Molecules/Core/Breadcrumb/Breadcrumb.interface";
import type { ReferenceProps } from "@src/components/Molecules/Core/Reference/Reference.interface";

interface Props {
  breadcrumbs: BreadcrumbProps;
  referencesData?: ReferenceProps[];
  story: ISbStoryData;
}
const { breadcrumbs, referencesData, story } = Astro.props;
---

<BaseLayout referencesData={referencesData}>
  <main>
    <Header
      {...story.content.Header[0]}
      breadcrumbs={breadcrumbs}
      client:visible
    />
    {story.content.Body.map((blok: any) => <DynamicComponent blok={blok} />)}
  </main>
</BaseLayout>
