---
import { getLiveStory } from "@storyblok/astro";
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import { Header } from "@components/Organisms/Home/Header/Header";
import { References } from "@components/Organisms/Core/References/References";
import DynamicComponent from "@src/components/DynamicComponent.astro";

// Helpers
import { buildBreadcrumbs } from "@src/helpers/buildBreadcrumbs";
import { fetchStory } from "@src/helpers/fetchContent";
import { createReferencesData } from "@/src/helpers/updateReferences";

let story = null;

const liveStory = await getLiveStory(Astro);

if (liveStory) {
  story = liveStory;
} else {
  const { data } = await fetchStory("home");
  story = data?.story;
}

// Build breadcrumbs
const breadcrumbs = await buildBreadcrumbs(story.full_slug);
// Build references
const referencesData = createReferencesData(story);
---

<BaseLayout>
  <main>
    <Header
      {...story.content.Header[0]}
      breadcrumbs={breadcrumbs}
      client:visible
    />
    {story.content.Body.map((blok: any) => <DynamicComponent blok={blok} />)}
    {
      referencesData && (
        <References references={referencesData} client:visible />
      )
    }
  </main>
</BaseLayout>
