---
import type { ISbStoryData } from "storyblok-js-client";

import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import { Header } from "@src/components/Organisms/Core/Header/Header";
import { Unit as UnitComponent } from "@src/components/Organisms/Unit/Unit/Unit";

// Helpers
import { buildBreadcrumbs } from "@src/helpers/buildBreadcrumbs";

interface Props {
  story: ISbStoryData;
}
const { story } = Astro.props;

// Build breadcrumbs
const breadcrumbs = await buildBreadcrumbs(story.full_slug);
---

<BaseLayout title={story.name}>
  <main>
    <Header title={story.name} breadcrumbs={breadcrumbs} />
    <UnitComponent story={story} client:load />
  </main>
</BaseLayout>
