@use "../../styles/global/tokens" as *;

.container-bg {
  background-color: $color-grey-100;
  border-color: $color-brand-secondary-300;
  // max-width: 60rem;
}

.icon-bg {
  background-color: $color-brand-secondary-100;
}
