@use "../../../../styles/global/tokens" as *;
@use "../../../../styles/global/variables" as *;

.theme-bg {
  background-color: $color-grey-100;
  border-color: $color-brand-secondary-200 !important;
}
