@use "../../styles/global/mixins" as *;
@use "../../styles/global/variables" as *;

.link {
  align-items: center;
  color: $color-text-default;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  gap: $spacing-2xs;
  justify-content: center;
  text-decoration: none;
  vertical-align: middle;
  @include responsive-token("font-size", $font-sizes-responsive-map, "body");

  &:active {
    color: $color-text-link-hover;
  }

  &:hover {
    color: $color-text-link-hover;
  }

  &:visited {
    color: $color-text-link-hover;
  }
}

.link--inverse {
  color: $color-text-inverse;

  &:active {
    color: $color-text-inverse;
  }

  &:hover {
    color: $color-text-inverse;
  }

  &:visited {
    color: $color-text-inverse;
  }
}

.link__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
