.scrollable-table {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
  }
}

.can-scroll-left {
  &::before {
    opacity: 1;
  }
}

.can-scroll-right {
  &::after {
    opacity: 1;
  }
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}
