---
import { Footer } from "../components/Footer/Footer";
import footerData from "../content/base/footerData.json";

import { NavBar } from "../components/NavBar/NavBar";
import navBarData from "../content/base/navBarData.json";

import "../styles/index.scss";
import "@fontsource-variable/open-sans";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Data Analysis</title>
  </head>
  <body>
    <header>
      <NavBar {...navBarData} />
    </header>
    <slot />
    <Footer {...footerData} />
  </body>
</html>
