.input-bg {
  position: relative;
  overflow: visible;
}

.input-sizing {
  border-radius: 1rem;
}

.search-results {
  position: absolute;
  top: 100%;
  z-index: 1;
  max-height: 40rem;
  overflow-y: auto;
  border-radius: 1rem;
}
